body{

}
.nav {
    width:860px;
    margin: 0 auto;
}
.nav ul{
    list-style: none;
    margin-top: 2%;
}
.nav ul li{
    background:beige;
    width:170px;
    border:1px solid brown;
    line-height:50px;
    height:50px;
    text-align:center;
    float:left;
    color:brown;
    font-size:14px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}
.nav ul li:hover{
    background:pink;
}
.nav ul ul{
    display:none;
}
.nav ul li:hover > ul{
    display:block;
}
.nav ul ul ul{
    margin-left: 170px;
    top:0;
    position:absolute;
}
